.loaderpage {
  width: inherit;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.catchphrase {
  width: inherit;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
  animation: fadein 1s ease-in;
}

.bgimg {
  width: 50px;
  height: 50px;
}

.sentence {
  width: inherit;
  text-align: center;
  vertical-align: middle;
  font-size: 3vw;
  min-width: 11px;
  padding: 10px 20px 15px 30px;
  color: black;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
