.orderBox {
  width: inherit;
  height: 7%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.25);
  background: #f6f6f6;
  color: #999999;
}

.orderBox_blank {
  top: 0px;
  width: inherit;
  height: 80%;
  z-index: 9;
  opacity: 0.4;
  background-color: #999999;
}

.orderBox_menu_box {
  width: inherit;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e7eaf3;
}

.orderBox_menu {
  height: 100%;
  width: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.orderBox_router {
  bottom: 20px;
  width: inherit;
  height: 80%;
  animation: eraseUp 0.3s ease-in-out;
  z-index: 11;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.25);
  background: #f6f6f6;
  color: #999999;
}

.long_active {
  background-color: rgba(10, 186, 181, 0.2);
  color: #0abab5;
  font-weight: 500;
}

.short_active {
  background-color: rgba(228, 111, 111, 0.2);
  color: #e46f6f;
  font-weight: 500;
}

.history_active {
  background-color: rgba(25, 25, 25, 0.2);
  color: #191919;
  font-weight: 500;
}

.orderBox_router > .orderBox_menu_box {
  height: 7%;
}

@keyframes eraseUp {
  0% {
    height: 0%;
  }
  100% {
    height: 80%;
  }
}
