.mypage_info {
  width: inherit;
  height: 100%;
  padding: 20px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  row-gap: 32px;
}

.mypage_info_profile_image img {
  width: 85px;
  height: 85px;
  border-radius: 20px;
}

.mypage_info_nickname {
  width: inherit;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  position: relative;
  padding-left: 32.5px;
  column-gap: 12.5px;
}

.mypage_info_nickname input {
  border: none;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}

.mypage_info_edit {
  width: 20px;
  height: 20px;
}

.mypage_info_nickname_cancel {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 0px;
  z-index: 1;
}

.mypage_info_nickname_save {
  position: absolute;
  top: 20px;
  right: 30px;
  z-index: 1;
  font-size: 12px;
  color: #999999;
  font-weight: 600;
}
