.home {
  width: 100%;
  padding: 40px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  row-gap: 50px;
}

.home_logo {
  width: 40px;
  height: 40px;
}

.home_title {
  width: inherit;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.home_title_service {
  font-size: 20px;
  color: #00a1fc;
  letter-spacing: 3px;
}

.home_title_phrase {
  color: #999999;
  letter-spacing: -2px;
}

.home_service_feature_wrapper {
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  row-gap: 20px;
}

.home_service_feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.home_service_feature_title_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
