.rank {
  width: inherit;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 20px 0;
}

.rank h1 {
  width: 100%;
  font-size: 16px;
  text-align: center;
}
