.mypage_header {
  width: inherit;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.mypage_header_back {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
}

.mypage__header_title {
  width: inherit;
  text-align: center;
  font-weight: 600;
}
