.mypage {
  width: inherit;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 24px;
  padding: 20px 20px 0px 20px;
  margin-bottom: 20px;
}

.mypage h1 {
  width: 100%;
  font-size: 16px;
  text-align: center;
}

.mypage_body {
  width: inherit;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  row-gap: 80px;
}

.mypage_point_wrapper {
  width: inherit;
  min-height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  row-gap: 12px;
  border-radius: 10px;
  background: linear-gradient(45deg, #5989ff 0%, #e84444 100%);
}

.mypage_point {
  width: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
}

.mypage_point span {
  font-size: 10px;
}

.mypage_icon_wrapper {
  width: inherit;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: 40px;
}

.mypage_icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 8px;
}

.mypage_icon img {
  width: 25px;
  height: 25px;
}

.mypage_menu_wrapper {
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 16px;
}

.mypage_menu {
  width: inherit;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: 4px;
  border-bottom: 1px solid #e7e7e7;
}

.mypage_menu div {
  padding: 10px;
}

.mypage_menu img {
  width: 14px;
  height: 20px;
}
