.pagination {
  height: 70px;
  background: #fff;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #e7e7e7;
  margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
  .pagination {
    width: 100%;
  }
}

@media only screen and (min-width: 769px) {
  .pagination {
    width: 768px;
  }
}
