.practice {
  width: inherit;
  flex: 1;
  background-color: #f6f6f6;
  z-index: 1;
}

.prac_body {
  width: inherit;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 1px;
}

.prac_header {
  width: 96%;
  height: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 2%;
}

.prac_header_back {
  /* padding: 9px 17px; */
  width: 8px;
  height: 16px;
}

.prac_header_tools {
  padding: 5px;
  width: 40px;
  height: 40px;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding-left: 10px;
  column-gap: 8px;
  width: 70%;
}

.title_img {
  width: 20px;
  height: 20px;
  padding: 6px 4px 4px;
}

.title_name {
  font-size: large;
  font-weight: 500;
}

.interval {
  width: 96%;
  height: 5%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding-left: 3%;
}

.current_price {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding-left: 4%;
  column-gap: 4px;
  border-top: 1px solid #e7eaf3;
  border-bottom: 1px solid #e7eaf3;
  font-size: small;
}

.current_price_type {
  color: #999999;
  padding-right: 3px;
}

.current_price > div {
  padding: 4px;
}
