.history {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  color: #999999;
  overflow: scroll;
}

.history_summary {
  width: 90%;
  padding-top: 24px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.history_summary_title {
  font-weight: 700;
  font-size: large;
  color: #191919;
}

.history_row_box {
  width: 100%;
  padding-top: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.history_score {
  width: 90%;
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border-top: 1px solid #e7eaf3;
}

.history_score_position_lev {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: 5px;
}

.history_score_position,
.history_score_leverage {
  border: 1px solid #d0d0d0;
  border-radius: 30px;
  padding: 0px 5px;
  font-size: small;
}

.history_score_position {
  color: #ffffff;
  border: none;
  font-weight: 600;
}

.history_score_created_at {
  color: #888;
  text-align: center;
  font-size: small;
  font-style: normal;
  font-weight: 400;
}

.history_score_title {
  color: #191919;
  text-align: center;
  font-style: normal;
  font-weight: 600;
}

.history_score_prices {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 5px;
  font-weight: 500;
}
.history_score_entry_price {
  color: #191919;
}

.position_long {
  background-color: #0abab5;
}

.position_short {
  background-color: #e46f6f;
}

.roe_pos {
  color: #ff0000;
}

.roe_neg {
  color: #4200ff;
}
