.orderInput {
  width: inherit;
  height: 93%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 3%;
  padding-bottom: 15px;
  touch-action: pan-x pan-y;
}

.orderInput_leverage {
  width: 95%;
  height: 6%;
  min-height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.orderInput_leverage_title {
  width: 40%;
  min-width: 145px;
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  justify-content: start;
  align-items: center;
  font-size: small;
}

.orderInput_leverage_value {
  height: 90%;
  min-width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #191919;
  font-size: 13px;
  font-weight: 600;
  border: 1px solid #e6e6e6;
  background: #efefef;
}

.orderInput_leverage_modal {
  width: inherit;
  height: 100%;
  z-index: 12;
  display: flex;
  justify-content: center;
}

.orderInput_leverage_blank {
  top: 0px;
  width: inherit;
  height: 100%;
  z-index: 13;
  opacity: 0.4;
  background-color: #999999;
}

.orderInput_leverage_range {
  width: 327px;
  height: 210px;
  z-index: 14;
  border-radius: 4px;
  background: #f6f6f6;
  box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.25);
  padding: 24px 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 28px;
}

.orderInput_leverage_range > div,
.orderInput_leverage_range > input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.orderInput_leverage_range_value {
  width: 100%;
  height: 42px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #efefef;
}

.orderInput_leverage_range > input {
  accent-color: #0abab5;
}

.orderInput_leverage_range_buttons {
  height: 42px;
  flex-direction: row;
}

.orderInput_leverage_range_buttons > button {
  height: 100%;
  border: none;
  border-radius: 50px;
}

.orderInput_leverage_range_buttons_cancel {
  background: #e1e1e1;
  color: #000000;
  width: 40%;
}

.orderInput_leverage_range_buttons_select {
  background: #000000;
  color: #f3f3f3;
  width: 60%;
}

.orderInput_balance {
  width: 90%;
  height: 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
}

.orderInput_balance1 {
  width: 75%;
}

.orderInput_balance2,
.orderInput_balance3 {
  width: 12.5%;
  font-weight: 600;
  color: #191919;
  text-align: end;
}

.input_wrapper {
  width: 95%;
  min-height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.input_wrapper_1 {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.input_wrapper_1 > input {
  width: 90%;
  height: 50%;
  text-align: center;
  padding: 0px 5%;
}

.input_wrapper_2 {
  width: 28%;
  height: 100%;
  text-align: center;
  color: #999999;
  border-radius: 0px;
}

.input_wrapper_1,
.input_wrapper_1 > input,
.input_wrapper_2 {
  border: none;
  outline: none;
  background-color: #efefef;
  font-size: small;
}

.input_narrow_wrapper {
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
}

.orderInput_title_help {
  width: 90%;
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  justify-content: start;
  align-items: center;
  font-size: small;
}

.input_title_wrapper {
  height: 60%;
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.reset_btn,
.order_long_btn,
.order_short_btn {
  width: 48%;
  height: 100%;
  border: none;
  color: #ffffff;
  font-weight: 600;
  font-size: large;
}

.reset_btn {
  background-color: #999999;
}

.order_long_btn {
  background-color: #0abab5;
}

.order_short_btn {
  background-color: #e46f6f;
}

.error_message {
  width: 90%;
  height: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: small;
  color: #e46f6f;
  font-weight: 700;
}

.commission {
  width: 90%;
  height: 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: small;
  color: #888888;
}

.option_neg {
  color: #f00;
}

.option_pos {
  color: #0038ff;
}
