.OrderInput {
  flex: 1;
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
}

.OrderInput_balance {
  width: 90%;
  height: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.OrderInput_balance1 {
  width: 50%;
}

.OrderInput_balance2,
.OrderInput_balance3 {
  width: 15%;
}

.input_wrapper {
  width: 90%;
  height: 6%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.input_wrapper_1 {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input_wrapper_1 > input {
  width: 100%;
  height: 50%;
  text-align: center;
}

.input_wrapper_2 {
  width: 25%;
  height: 100%; /*TODO*/
  text-align: center;
}

.input_wrapper_1,
.input_wrapper_1 > input,
.input_wrapper_2 {
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #efefef;
}

.orderInput_title_help {
  width: 90%;
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  justify-content: start;
  align-items: center;
}
